nav ul
{
    list-style-type: none;
    float: right;
}

    nav ul li
    {
        display: inline;
        list-style-type: none;
    }

.local
{
    border-collapse: collapse;
    caption-side:bottom;
}

    .local caption
    {
        text-align: center;
    }

.local td
{
    padding-right:5px;
    border-left-width:thin;
    text-align:center;
    border:1px solid black;
}

.local th
{
    text-align: center;
    font-weight:bold;
    border-bottom:1px solid black;
}
    
